webAppWithEmbeddedMule/src/main/resources/tx-java-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.3.0" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <spring:beans>
        <spring:bean id="stdCalculatorBean" class="std.CalculatorBean" name="Bean">
            <spring:property name="proxyWsUrl" value="http://localhost:8080/wsCalculateur/services/calculateur"/>
        </spring:bean> <!-- avec eventuelle injection de dependance -->
    </spring:beans>
    <mulexml:object-to-xml-transformer name="Object_to_XML" doc:name="Object to XML"/>
    <object-to-string-transformer name="Object_to_String" doc:name="Object to String"/>

    <flow name="tx-java-muleFlow1" doc:name="tx-java-muleFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" 
        host="localhost" port="8081" doc:name="HTTP" path="tx-java-mule/StdCalculateurPort" contentType="text/xml" mimeType="text/xml"/>
      
      <!-- 
        <logger message="soap_request : #[message.payload:java.lang.String]" level="INFO" category="tp" doc:name="Logger"/>
       -->
        <!-- nb: l'attribut serviceClass de cxf:jaxws-service a une valeur correspondante à l'interface du WS Soap -->
        <cxf:jaxws-service doc:name="SOAP" serviceClass="std.Calculator"/>
        <!--
        <wire-tap>
            <processor-chain>
                <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
                <logger message="soap_request_params : #[message.payload]" level="INFO" category="tp" doc:name="Logger"/>
            </processor-chain>
        </wire-tap>
        -->
            <component doc:name="Java">
                <spring-object bean="stdCalculatorBean"/>
                <!-- en faisant reference a un composant spring 
                            on peut avoir de l'injection de dependance -->
            </component>
   
        
        <!-- implementation : classe java avec @WebService -->
        <!-- <component class="std.CalculatorBean" doc:name="Java"/> -->
    </flow>
</mule>
